name: Draft Release

on:
  push:
    # Build and publish artifacts when new tag is created for release
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.24.5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        run: make docker-buildx IMG=docker.io/mensyli/cluster-api-byoh-controller:${{ github.ref_name }}

      - name: Build Release Artifacts
        run: IMG="docker.io/mensyli/cluster-api-byoh-controller:${{ github.ref_name }}" make build-release-artifacts

      - name: Publish Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          draft: true
          generate_release_notes: true
          files: |
            _dist/byoh-hostagent-linux-amd64
            _dist/byoh-hostagent-linux-arm64
            _dist/infrastructure-components.yaml
            _dist/metadata.yaml
            _dist/cluster-template.yaml
            _dist/cluster-template-topology.yaml
            _dist/clusterclass-quickstart.yaml
            _dist/cluster-template-docker.yaml
            _dist/cluster-template-topology-docker.yaml
            _dist/clusterclass-quickstart-docker.yaml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
