name: golangci-lint

on:
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '*.md'
      - 'docs/**'
      - 'LICENSE'
      - 'NOTICE'
      - 'PROJECT'
      - 'SECURITY_CONTACTS'

jobs:
  golangci:
    runs-on: ubuntu-24.04
    steps:
    - name: Install Go 1.25.5
      uses: actions/setup-go@v4
      with:
        go-version: 1.25.5

    - name: Checkout code
      uses: actions/checkout@v4

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v3
      with:
        version: v1.51.0
        skip-go-installation: true
